<div class="container">
    <h1>Profile</h1>
    <h2 id="username-heading"></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, nam veniam cupiditate laudantium id deleniti alias inventore, ipsum fugiat, amet reprehenderit ratione in at? Cumque praesentium earum optio voluptatum ipsum totam et error? Cupiditate error fugit eligendi consectetur nam quibusdam vitae fuga molestias beatae qui vero consequatur, voluptates sit. Mollitia.</p>
    <a href="/logout">Log Out</a>
  </div>
<script src="/js/app.js"></script>